<div class="p-lg">

  <!-- welcome card -->

  <div class="welcome-card">
    <h1>
      Welcome to My Movies!
    </h1>
    <p>Discover cool movies and add them to your own lists.</p>
  </div>

  <!-- lists -->

  <div
    class="container"
    fxLayout="row"
    fxLayoutAlign="center"
    fxLayoutGap="3.0%">

    <!-- movies: in theaters-->

    <mat-card fxFlex="50%">
      <mat-list>
        <h3 mat-subheader>In Theaters</h3>
        <mat-list-item *ngFor="let movie of movies; last as last">
          <img
            mat-list-avatar
            src="https://image.tmdb.org/t/p/w45{{ movie.poster_path }}"
            alt="movie-img">
          <h4 mat-line>
            {{ movie.title }}
          </h4>
          <div mat-line>
            <span class="list-subtitle">Release Date: {{ movie.release_date | date }}</span>
          </div>
          <div mat-line></div>
          <div mat-line>
            <div class="button-row">
              <button
                mat-raised-button
                color="accent"
                (click)="addMovieToList(movie)">
                Add to Lists
              </button>
              <button
                mat-raised-button
                (click)="openDetail(movie)">
                Detail
              </button>
            </div>
          </div>
          <mat-chip-list>
            <mat-chip>{{ movie.vote_average }}</mat-chip>
          </mat-chip-list>
          <mat-divider
            [inset]="true"
            *ngIf="!last">
          </mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card>

    <!-- movies: top rated -->

    <mat-card fxFlex="50%">
      <mat-list>
        <h3 mat-subheader>Top Rated</h3>
        <mat-list-item *ngFor="let movie of topMovies; last as last">
          <img
            mat-list-avatar
            src="https://image.tmdb.org/t/p/w45{{ movie.poster_path }}"
            alt="movie-img">
          <h4 mat-line>{{ movie.title }}</h4>
          <div mat-line>
            <span class="list-subtitle">Release Date: {{ movie.release_date | date }}</span>
          </div>
          <div mat-line></div>
          <div mat-line>
            <div class="button-row">
              <button
                mat-raised-button
                color="accent"
                (click)="addMovieToList(movie)">
                Add to Lists
              </button>
              <button
                mat-raised-button
                (click)="openDetail(movie)">
                Detail
              </button>
            </div>
          </div>
          <mat-chip-list>
            <mat-chip>{{ movie.vote_average }}</mat-chip>
          </mat-chip-list>
          <mat-divider
            [inset]="true"
            *ngIf="!last">
          </mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
</div>
